## Used by the `korectl local run` to run kore-apiserver in hack/compose/demo.yml
#

# Authentication provider client id
KORE_CLIENT_ID={{.ClientID}}
  # The authentiation provider secret
KORE_CLIENT_SECRET={{.ClientSecret}}
  # The openid discovery url
KORE_DISCOVERY_URL={{.AuthorizeURL}}
  # This can vary depending on the IDP you are using for the demo as different
  # provider encode the username in different fields
KORE_USER_CLAIMS=preferred_username,email,name,username
  # The openid client scopes to ask for from the idp; the below is safe for most providers
KORE_CLIENT_SCOPES=email,profile,offline_access

